# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main
- master


pool:
  vmImage: ubuntu-latest

steps:

- task: SonarQubePrepare@4
  inputs:
    SonarQube: 'SonarAzure3'
    scannerMode: 'CLI'
    configMode: 'manual'
    cliProjectKey: 'Html'
    cliSources: '.'
- task: SonarQubeAnalyze@4

- task: SonarQubePublish@4
  inputs:
    pollingTimeoutSec: '300'

